<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0af90526-fa89-4d1e-956b-19263df75ed0" Alias="Content Blocks" Level="1">
  <Info>
    <Name>Content Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a1d2bdf7-58ea-4d5e-a156-e8d6ad15a36a"
    },
    {
      "contentElementTypeKey": "5dfd223e-dee6-43d9-ac32-54249c9776d1"
    },
    {
      "contentElementTypeKey": "9d9c6d30-052c-427a-99a0-3c4b4c3c1a2e"
    },
    {
      "contentElementTypeKey": "c322b68a-fe34-45ca-b5ad-1197193df081"
    },
    {
      "contentElementTypeKey": "280d8cc3-138e-41cf-8424-246ddf059145"
    },
    {
      "contentElementTypeKey": "335ea55f-c22b-4d29-987a-70a7e3b0fe65"
    }
  ]
}]]></Config>
</DataType>