<?xml version="1.0" encoding="utf-8"?>
<DataType Key="943e73dd-c2bc-4eab-9ed5-ae88c5aef745" Alias="Simple Rich Text Editor" Level="1">
  <Info>
    <Name>Simple Rich Text Editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "link"
  ]
}]]></Config>
</DataType>