<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c96be5e1-f764-4921-ada8-920c11f8cbfb" Alias="Sponsors - Tiers - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Sponsors - Tiers - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0078b506-4d86-4188-9459-c588b9af7500",
      "label": "{=title}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false
}]]></Config>
</DataType>