<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62ed8ac1-dfe5-4684-b074-02fea88af6f1" Alias="Sponsor Tier - Sponsors - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Sponsor Tier - Sponsors - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cdf7fd91-244d-4b85-9879-2aac289fb41f",
      "forceHideContentEditorInOverlay": false,
      "label": "{=title}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false
}]]></Config>
</DataType>