<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0d204f4-f2e8-4b9b-ab7f-7fb7b262fb8b" Alias="Session - Speakers - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Session - Speakers - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "1df2a959-cf53-49c9-9163-6e8aca98477d",
  "maxNumber": 0,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Root"
    }
  }
}]]></Config>
</DataType>