<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="08e16cb8-8009-4f54-98c9-0824c5245a18" Alias="track" Level="1">
  <Info>
    <Name>Track</Name>
    <Icon>icon-width</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="183a88ff-8ad5-4d31-8d49-82380c97f3c6" SortOrder="0">session</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>