.scheduleGrid {
    --grid-template-areas: '';
    --grid-template-columns: 0;

    display: grid;
    grid-template-areas: var(--grid-template-areas);
    grid-template-columns: repeat(var(--grid-template-columns), minmax(400px, 1fr));

    /*@media screen(md) {*/
    /*    grid-template-columns: repeat(var(--grid-template-columns), 1fr);*/
    /*}*/
}
