<p>If you added contact information, an organizer will be in touch ASAP.</p>
<p>If you added an email, a copy of your message will be sent to you.</p>
<p>If this is urgent, text or call Levi Zitting <a href="tel:4178080501">417-808-0501</a>. You can also locate another conference organizer or volunteer.  who are recognizable by their badges/t-shirts (or as otherwise explained by organizers at the beginning of the conference).</p>
<p>In this is an emergency, please call 911.</p>
