<?xml version="1.0" encoding="utf-8"?>
<Content Key="826dcefc-a3e4-4f21-83e0-b349279cc64a" Alias="2020" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>conference</ContentType>
    <CreateDate>2024-08-25T20:35:03</CreateDate>
    <NodeName Default="2020" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>