<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b37dce2-e99c-4966-8a28-6099fdcd2cca" Alias="2024" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>conference</ContentType>
    <CreateDate>2024-08-25T20:27:07</CreateDate>
    <NodeName Default="2024" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>